## revision_history
## 26-jun-2013   Steven Davelaar / Paco van der Linden
## 1.4           Moved ITEM_ADDITIONAL_PROPERTIES to the end so it can also be used to
##               override generated properties (last one wins)
## 04-oct-2010   Steven Davelaar
## 1.3           Added ITEM_HELP, ITEM_ADDITIONAL_PROPERTIES
## 12-jan-2007   Jaco Verheul
## 1.2           Only generate script when generateJavaScript is true 
## 30-sep-2006   JHeadstart Team
## 1.1           Revision history added, base version is 10.1.3.0.97 (SU1)
## makes no sense to have editor in search area
#START_ITEMS_DISPLAYED_AT_RIGHT()
<af:inputText #ITEM_ID_IN_SEARCH() #ITEM_VALUE_IN_SEARCH() #ITEM_SIMPLE() #ITEM_HINT() #ITEM_HELP() #ITEM_PROMPT_IN_SEARCH() #DEPENDS_ON_ITEM_PROPS_SEARCH() #SEARCH_ITEM_PARTIAL_TRIGGERS() #ITEM_COLUMNS() #TEXT_SEARCH_MAXIMUM_LENGTH() #ITEM_ADDITIONAL_PROPERTIES()/>
#END_ITEMS_DISPLAYED_AT_RIGHT()
