## revision_history
## 26-jun-2013   Steven Davelaar / Paco van der Linden
## 1.7           Moved ITEM_ADDITIONAL_PROPERTIES to the end so it can also be used to
##               override generated properties (last one wins)
## 18-oct-2010   Steven Davelaar
## 1.6           Added call to ITEM_CONTEXT_FACET_IN_TABLE
## 05-oct-2010   Steven Davelaar
## 1.5           Added call to ITEM_ADDITIONAL_PROPERTIES
## 18-may-2010   Steven Davelaar
## 1.4           Moved surrounding column element to separate tableColumn.vm template
##               Re-added ITEM_RENDERED_IN_TABLE
## 06-jul-2007   Steven Davelaar
## 1.3           Moved #ITEM_RENDERED_IN_TABLE() to column element
## 24-feb-2007   Steven Davelaar
## 1.2           Added footer template
## 30-sep-2006   JHeadstart Team
## 1.1           Revision history added, base version is 10.1.3.0.97 (SU1)
  #if ($JHS.current.group.filterTable && $JHS.current.item.showInQuickSearch && !$JHS.current.item.displayedAtRightOfItem)
  <f:facet name="filter">
    <af:inputDate value="#{status.filterCriteria.${JHS.current.item.attributeName}}" id="#NEW_ID("id")">
       #DATE_CONVERTER()
    </af:inputDate>
  </f:facet>
  #end
  <af:inputDate #ITEM_ID_IN_TABLE() #ITEM_VALUE_IN_TABLE() #ITEM_PROMPT_IN_TABLE()
     #ITEM_PARTIAL_TRIGGERS() #ITEM_REQUIRED_IN_TABLE()  #ITEM_READ_ONLY_IN_TABLE() 
     #ITEM_DISABLED_IN_TABLE() #ITEM_HINT()  #ITEM_RENDERED_IN_TABLE() #DEPENDS_ON_ITEM_PROPS_TABLE() #ITEM_ADDITIONAL_PROPERTIES()>
    #DATE_CONVERTER()
    #ITEM_CONTEXT_FACET_IN_TABLE()
  </af:inputDate>

#ITEMS_DISPLAYED_AT_RIGHT_IN_TABLE()

