## revision_history
## 11-oct-2011   Steven Davelaar
## 1.3           Use page_fragment_start/end macros to switch between facelets and jspx 
## 24-may-2011   Sandra Muller
## 1.2           removed superfluous } at end of labels, and use readOnly instead of disabled for stack trace
## 08-apr-2011   Sandra Muller
## 1.1           Use macros for the labels
## 07-feb-2011   Steven Davelaar
## 1.0           Initial creation
<?xml version='1.0' #PAGE_ENCODING_PROP()?>
#PAGE_FRAGMENT_START()
  <af:panelHeader text="#UNEXPECTED_ERROR_PAGE_TITLE()" id="ph1">
    <af:panelFormLayout id="pfl1">
      <af:inputText label="#ERROR_MESSAGE_LABEL()" value="#{exceptionHandlerBean.errorMessage}" readOnly="true" id="it1"/>
      <af:inputText label="#STACK_TRACE_LABEL()" value="#{exceptionHandlerBean.stackTrace}" rows="30" columns="160" readOnly="true" id="it2"/>
    </af:panelFormLayout>
  </af:panelHeader>
#PAGE_FRAGMENT_END()
