## revision_history
## 26-jun-2013   Steven Davelaar / Paco van der Linden
## 1.3           Moved ITEM_ADDITIONAL_PROPERTIES to the end so it can also be used to
##               override generated properties (last one wins)
## 18-oct-2010   Steven Davelaar
## 1.2           Added ITEM_CONTEXT_FACET
## 04-oct-2010   Steven Davelaar
## 1.1           Added ITEM_HELP, ITEM_ADDITIONAL_PROPERTIES
## 04-jul-2008   Evert-Jan de Bruin
## 1.0           Initial creation for release 11

#START_ITEMS_DISPLAYED_AT_RIGHT()
<af:inputComboboxListOfValues #ITEM_ID_IN_FORM() #LOV_ITEM_POPUP_TITLE()                    
     #ITEM_VALUE_IN_FORM() #ITEM_PROMPT_IN_FORM() #ITEM_SIMPLE() 
     #ITEM_PARTIAL_TRIGGERS() #ITEM_REQUIRED_IN_FORM() #ITEM_COLUMNS() 
     #ITEM_MAXIMUM_LENGTH() #ITEM_READ_ONLY_IN_FORM() #ITEM_RENDERED_IN_FORM()
     #ITEM_DISABLED_IN_FORM() #ITEM_HINT() #ITEM_HELP() #DEPENDS_ON_ITEM_PROPS_FORM()
     #LOV_ITEM_MODEL() #ITEM_ADDITIONAL_PROPERTIES()>
  #REGULAR_EXPRESSION_VALIDATOR()
  #NUMBER_CONVERTER()
  #ITEM_CONTEXT_FACET()
</af:inputComboboxListOfValues>
#END_ITEMS_DISPLAYED_AT_RIGHT()

