## revision_history
## 12-oct-2017   Ahmed Magdy
##               Add MTS logo image
##		 Add customer logo image
##		 set footer global size 0
##               Add Module navigation menu
##               Remove Extra Decorative Box
## 31-oct-2013   Steven Davelaar
## 1.1           Removed AFVisualRoot styleclass and conditional setting of theme based on skin family
##               Moved footer to separate template
## 15-apr-2013   Steven Davelaar
## 1.0           Initial creation - copied from jhsPageTemplate.vm
##               Use af:panelGridLayout and optimize for Skyros skin
#PAGE_TEMPLATE_START()
    <af:xmlContent>
      <component xmlns="http://xmlns.oracle.com/adf/faces/rich/component">
        <description>This component lays out an entire page.</description>
        <facet>
          <description>An optional vertically oriented region of contexual components for the main
                       content. Often this contains a list or tree of links for deeper navigation
                       structure than the global, primary, and secondary regions can provide.</description>
          <facet-name>menu3</facet-name>
        </facet>
        <facet>
          <description>The user information region. This region provides a location for presenting
                       user sign-in and connection information.</description>
          <facet-name>infoUser</facet-name>
        </facet>
        <facet>
          <description>The content of all popups used on the page.</description>
          <facet-name>popups</facet-name>
        </facet>
      #if (${JHS.engine.getTemplateContext("pageTemplate")}=='jhsDynamicTabsPageTemplate')
        <facet>
          <description>The main page content.</description>
          <facet-name>welcome</facet-name>
        </facet>
      #else  
        <facet>
          <description>The main page content.</description>
          <facet-name>pageContent</facet-name>
        </facet>
        <facet>
          <description>The process train (wizards).</description>
          <facet-name>processTrain</facet-name>
        </facet>
        <attribute>
          <description>Specifies the number of pixels tall that the navigation2 content should
                       consume.</description>
          <attribute-name>navigation2Size</attribute-name>
          <attribute-class>int</attribute-class>
          <default-value>#{adfFacesContext.skinFamily=='skyros' ? '20' : '26'}</default-value>
        </attribute>
        <attribute>
          <description>Specifies the number of pixels wide that the navigation3 content should
                       consume.</description>
          <attribute-name>navigation3Size</attribute-name>
          <attribute-class>int</attribute-class>
          <default-value>150</default-value>
        </attribute>
      #end  
        <attribute>
          <description>Specifies the number of pixels tall that the global content should consume.</description>
          <attribute-name>headerGlobalSize</attribute-name>
          <attribute-class>int</attribute-class>
          <default-value>40</default-value>
        </attribute>
        <attribute>
          <description>Specifies the number of pixels tall that the global footer content should
                       consume.</description>
          <attribute-name>footerGlobalSize</attribute-name>
          <attribute-class>int</attribute-class>
          <default-value>30</default-value>
        </attribute>
        <attribute>
          <description>Specifies the number of pixels tall that the secondary header content should
                       consume.</description>
          <attribute-name>header2Size</attribute-name>
          <attribute-class>int</attribute-class>
          <default-value>20</default-value>
        </attribute>
        <attribute>
          <description>menu model bean reference</description>
          <attribute-name>menuModel</attribute-name>
          <attribute-class>org.apache.myfaces.trinidad.model.XMLMenuModel</attribute-class>
        </attribute>
        <attribute>
          <description>whether the menu level 1 is displayed</description>
          <attribute-name>showMenu1</attribute-name>
          <attribute-class>boolean</attribute-class>
          <default-value>true</default-value>
        </attribute>
        <attribute>
          <description>whether the menu level 2 is displayed</description>
          <attribute-name>showMenu2</attribute-name>
          <attribute-class>boolean</attribute-class>
          <default-value>true</default-value>
        </attribute>
        <attribute>
          <description>whether the menu level 3 is displayed</description>
          <attribute-name>showMenu3</attribute-name>
          <attribute-class>boolean</attribute-class>
          <default-value>false</default-value>
        </attribute>
        <attribute>
          <description>Initial menu level.</description>
          <attribute-name>menuStartLevel</attribute-name>
          <attribute-class>int</attribute-class>
          <default-value>1</default-value>
        </attribute>
        <attribute>
          <description>display breadcrumbs</description>
          <attribute-name>showBreadcrumbs</attribute-name>
          <attribute-class>boolean</attribute-class>
          <default-value>false</default-value>
        </attribute>
        <attribute>
          <description>display messages</description>
          <attribute-name>showMessages</attribute-name>
          <attribute-class>boolean</attribute-class>
          <default-value>true</default-value>
        </attribute>
        <attribute>
          <description>display messages</description>
          <attribute-name>showMessagesInline</attribute-name>
          <attribute-class>boolean</attribute-class>
          <default-value>false</default-value>
        </attribute>
        <attribute>
          <description>branding title</description>
          <attribute-name>brandingTitle</attribute-name>
          <attribute-class>string</attribute-class>
          <default-value>#PRODUCT_TITLE()</default-value>
        </attribute>
      </component>
    </af:xmlContent>
              <af:panelSplitter orientation="vertical" styleClass="AFBrandingSplitter"
                                splitterPosition="#{attrs.headerGlobalSize}"
                                id="pt_ps1">
                <f:facet name="first">
            <af:panelStretchLayout id="pt_psl1">
                <f:facet name="start">
                    <af:menuBar id="pt_mb2" visible="#{jhsUser!=null or securityContext.authenticated}"
                                inlineStyle="width: 100px; height: 50px;">
                        <af:menu id="pt_m2" icon="/jheadstart/images/menu-icon-blue.png" detachable="true"
                                 inlineStyle="width: 50px; height: 40px;">
                            <af:iterator id="#NEW_ID("i")" value="#{backingBeanScope.MtsMenusLists.modulesList}" varStatus="stat" var="row">
                                <af:commandMenuItem text="#{row}"
                                id="#NEW_ID("cmi")" actionListener="#{backingBeanScope.MtsMenusLists.goModule}"
                                                    icon="/jheadstart/images/group-icon.png"/>
                            </af:iterator>
                        </af:menu>
                    </af:menuBar>
                </f:facet>
                <f:facet name="center">
                  <af:panelGridLayout id="pt_gPbl" styleClass="AFBrandingBar">
                    #IGNORE_CHANGES_ATTRIBUTE()
                    <af:gridRow id="pt_rh1" height="auto" marginTop="4px" marginBottom="4px">
                      <af:gridCell id="logoCell" width="auto" valign="middle" marginStart="4px">
                        <af:panelGroupLayout id="pt_pgl2">
                            <af:image source="/jheadstart/images/MTS Logo.png" id="pt_i1"/>
                        </af:panelGroupLayout>
                      </af:gridCell>  
                      <af:gridCell id="pt_bt" width="auto" valign="middle" marginStart="4px">
                          <af:outputText value="#{attrs.brandingTitle}"
                                         styleClass="AFBrandingBarTitle"
                                         id="pt_ot1"/>
                      </af:gridCell>  
                      <af:gridCell id="pt_flexSpaceHead" width="100%"/>
                      <af:gridCell id="mgie" width="auto" valign="middle" marginStart="4px">
                           <af:declarativeComponent id="mg"
                                                 partialTriggers="::pendingChangesDialog #if (${JHS.engine.getTemplateContext("pageTemplate")}=='jhsPageTemplate')::Menu1#end"
                                                 viewId="/common/regions/menuGlobal.jsff"/>
                      </af:gridCell>  
                      <af:gridCell id="pt_sic" width="auto" valign="middle" marginStart="4px">
                        <af:panelGroupLayout id="pt_pgl1" layout="horizontal">
                            <af:statusIndicator id="pt_statInd"/>
                        </af:panelGroupLayout>
                      </af:gridCell>  
                    </af:gridRow>
                  </af:panelGridLayout>
                </f:facet>
            </af:panelStretchLayout>
        </f:facet>
            <f:facet name="second">

##      <af:decorativeBox id="db0" centerLandmark="none" topLandmark="none"
##                        theme="dark">
##        <f:facet name="center">
##          <af:panelStretchLayout bottomHeight="0"
##                                 id="pt_psl1">
##            <f:facet name="center">
##
              #if (${JHS.engine.getTemplateContext("pageTemplate")}=='jhsPageTemplate')
                #JHS_PARSE("PAGE_TEMPLATE_CONTENT" ${JHS.current.model})
              #elseif (${JHS.engine.getTemplateContext("pageTemplate")}=='jhsTreeMenuPageTemplate')
                #JHS_PARSE("PAGE_TEMPLATE_TREE_MENU_CONTENT" ${JHS.current.model})
              #elseif (${JHS.engine.getTemplateContext("pageTemplate")}=='jhsDynamicTabsPageTemplate')
                #JHS_PARSE("PAGE_TEMPLATE_DYNAMIC_TABS_CONTENT" ${JHS.current.model})
              #end  
##            </f:facet>

        <!-- end of global top splitter -->
##        <f:facet name="bottom">
##           #JHS_PARSE("PAGE_TEMPLATE_FOOTER" ${JHS.current.model})
##        </f:facet>

##      </af:panelStretchLayout>
##        </f:facet>
##      </af:decorativeBox>


        </f:facet>

          </af:panelSplitter>
          <!-- end of global auxiliary splitter -->
#PAGE_TEMPLATE_END()
