## revision_history
## 18-may-2010   Steven Davelaar
## 1.4           Added id property to all elements
## 12-aug-2008   Steven Davelaar
## 1.3           iteratorBinding property should be based on base group of page
## 24-jun-2008   Steven Davelaar
## 1.2           Enclose default value in quoted EL expression to postpone evaluation
##               when value requested
## 30-sep-2006   JHeadstart Team
## 1.1           Revision history added, base version is 10.1.3.0.97 (SU1)
#set ($bean = ${JHS.current.managedBean})
#set ($group = ${JHS.current.group})

  <managed-bean id="#NEW_ID("__")">
    <managed-bean-name id="#NEW_ID("__")">${bean.beanName}</managed-bean-name>
    <managed-bean-class id="#NEW_ID("__")">oracle.jheadstart.controller.jsf.bean.DefaultValuesBean</managed-bean-class>
    <managed-bean-scope id="#NEW_ID("__")">pageFlow</managed-bean-scope>
    <managed-property id="#NEW_ID("__")">
      <property-name id="#NEW_ID("__")">iteratorBinding</property-name>
      <value id="#NEW_ID("__")">#{data.${group.baseGroupSamePage.name}PageDef.${group.name}Iterator}</value>
    </managed-property>    
    <managed-property id="#NEW_ID("__")">
      <property-name id="#NEW_ID("__")">defaultValues</property-name>
        <map-entries id="#NEW_ID("__")">
       #foreach ($defaultValue in $group.defaultValues.keySet())
        <map-entry id="#NEW_ID("__")">
          <key id="#NEW_ID("__")">$defaultValue</key>
          #if ($group.defaultValues.get($defaultValue).startsWith("#{"))
          <value id="#NEW_ID("__")">#{"$group.defaultValues.get($defaultValue)"}</value>
          #else <value id="#NEW_ID("__")">$group.defaultValues.get($defaultValue)</value> #end
        </map-entry>
       #end 
        </map-entries>      
    </managed-property>
    <managed-property id="#NEW_ID("__")">
      <property-name id="#NEW_ID("__")">actionResult</property-name>
      <value id="#NEW_ID("__")">Create${group.name}</value>
    </managed-property>
  </managed-bean>

