## revision_history
## 18-may-2010   Steven Davelaar
## 1.1           Added id property to all elements
## 02-jan-2009   Evert-Jan de Bruin
## 1.0           Initial creation
#set ($bean = ${JHS.current.managedBean})

<managed-bean id="#NEW_ID("__")">
  <managed-bean-name id="#NEW_ID("__")">${bean.beanName}</managed-bean-name>
  <managed-bean-class id="#NEW_ID("__")">oracle.jheadstart.controller.jsf.bean.DynamicRegionManager</managed-bean-class>
  <managed-bean-scope id="#NEW_ID("__")">pageFlow</managed-bean-scope>
</managed-bean>

