## revision_history
## 18-may-2010   Steven Davelaar
## 1.1           Added id property to all elements
#set ($bean = ${JHS.current.managedBean})
#set ($item = ${JHS.current.item})

<managed-bean id="#NEW_ID("__")">
  <managed-bean-name id="#NEW_ID("__")">${bean.beanName}</managed-bean-name>
  <managed-bean-class id="#NEW_ID("__")">oracle.jheadstart.controller.jsf.bean.FileHandlerBean</managed-bean-class>
  <managed-bean-scope id="#NEW_ID("__")">request</managed-bean-scope>
  <managed-property id="#NEW_ID("__")">
    <property-name id="#NEW_ID("__")">valueBinding</property-name>
    <value id="#NEW_ID("__")">#{bindings.${item.bindingName}}</value>
  </managed-property>  
  <managed-property id="#NEW_ID("__")">
    <property-name id="#NEW_ID("__")">fileNameWhenEmpty</property-name>
    <value id="#NEW_ID("__")">#{'#if(${item.hintText})${item.hintText}#end'}</value>
  </managed-property>  
</managed-bean>
