## revision_history
## 25-feb-2011   Steven Davelaar
## 1.1           Removed immediate="true property, we cannot predict how it should be set, one can always
##               use the Additional Properties property to generate immediate="true"
## 04-feb-2011   Steven Davelaar
## 1.0           Initial creation

#if (${JHS.current.item.icon}!='')
  #set ($elemName = "commandToolbarButton")
#else
  #set ($elemName = "commandButton")
#end    

#if ($JHS.current.item.linkGroupDisplay=='newTab')

<af:${elemName} #ITEM_ID_IN_FORM()  
       ## check for layout style, so we can determine whether item should be shown in
       ## toolbar table pageComponent or form pageComponent or both
       #if ($JHS.current.pageComponent.tableLayout || $JHS.current.group.hasTableLayout) 
          #BUTTON_TEXT_IN_TABLE() #ITEM_RENDERED_IN_TABLE() #ITEM_DISABLED_IN_TABLE() 
       #else 
          #BUTTON_TEXT_IN_FORM() #ITEM_RENDERED_IN_FORM() #ITEM_DISABLED_IN_FORM() 
       #end          
        #ITEM_HINT() #ITEM_ADDITIONAL_PROPERTIES()
      #ITEM_PARTIAL_TRIGGERS() #JHS_PROP("icon" $JHS.current.item.icon)
          action="LaunchTab" 
          >
      <af:setActionListener from="${JHS.current.item.linkGroupNameWithoutServicePrefix}" to="#{jhsDynTabLauncher.taskFlowName}"/>
      #if (${JHS.current.item.params.tabUniqueIdentifier})
        <af:setActionListener from="${JHS.current.item.params.tabUniqueIdentifier.value}" to="#{jhsDynTabLauncher.tabUniqueIdentifier}"/>
      #end
      #if (${JHS.current.item.params.tabLabel})
        <af:setActionListener from="${JHS.current.item.params.tabLabel.value}" to="#{jhsDynTabLauncher.label}"/>
      #end
      #foreach($param in ${JHS.current.item.params} )
        #if ($param.name!='tabUniqueIdentifier' && $param.name!='tabLabel')
        <af:setActionListener from="${param.value}"
                          to="#{jhsDynTabLauncher.parameters.${param.name}}"/>
        #end                  
      #end
      <af:setActionListener from="#{jhsDynTabLauncher}" to="#{pageFlowScope.parentContext.jhsDynTabLauncher}"/>
    </af:${elemName}>

#else

<af:${elemName} #ITEM_ID_IN_FORM()  
       ## check for layout style, so we can determine whether item should be shown in
       ## toolbar table pageComponent or form pageComponent or both
       #if ($JHS.current.pageComponent.tableLayout || $JHS.current.group.hasTableLayout) 
          #BUTTON_TEXT_IN_TABLE() #ITEM_RENDERED_IN_TABLE() #ITEM_DISABLED_IN_TABLE() 
       #else 
          #BUTTON_TEXT_IN_FORM() #ITEM_RENDERED_IN_FORM() #ITEM_DISABLED_IN_FORM() 
       #end          
        #ITEM_HINT() #ITEM_ADDITIONAL_PROPERTIES()
      #ITEM_PARTIAL_TRIGGERS() #JHS_PROP("icon" $JHS.current.item.icon)
      action="${JHS.facesConfigGenerator.addItemGroupLinkTaskFlowCall(${JHS.current.item})}" 
      #if ($JHS.current.item.linkGroupDisplay!='inPage')
        useWindow="true" windowModalityType="${JHS.current.item.linkGroupDisplay}"
        #JHS_PROP("windowWidth" $JHS.current.item.displayWidth)
        #JHS_PROP("windowHeight" $JHS.current.item.displayHeight)
      #end
      >
  #foreach($param in ${JHS.current.item.params} )
    <af:setActionListener from="${param.value}"
                          to="#{${JHS.current.item.bindingName}DeepLinkParameters.${param.name}}"/>
  #end
</af:${elemName}>
#end

