## revision_history
## 11-may-2008   Steven Davelaar
## 1.3           Added support for non-databound groups
## 12-jan-2007   Jaco Verheul
## 1.2           JavaScript now embedded in ALERT_FOR_CHANGES macro
## 03-jan-2007   Steven Davelaar
## 1.0           Initial creation
#if ($JHS.current.group.databound && $JHS.current.group.formInsertAllowed)
  <af:button 
        #if ($JHS.current.group.baseGroupBoundedTaskFlow==$JHS.current.group)
           ## the child to create has its own bounded task flow (this happens in tree-form layout)
           ## we need to do a task flow call in this case with task flow parameter create<groupName>
          actionListener="#{pageFlowScope.pendingChangesBean.handle}"
          action="${JHS.facesConfigGenerator.addGroupTaskFlowCall(${JHS.current.group.parentGroup},"${JHS.current.group.name}",false,"create${JHS.current.group.name}")}"
        #else
            actionListener="#{#CREATE_ROW_BEAN().execute}"
            action="${JHS.facesConfigGenerator.addNavigationCase(${JHS.current.group},${JHS.page.name}, "Create${JHS.current.group.name}", ${JHS.current.group.name})}"
        #end
        textAndAccessKey="${JHS.nls(${JHS.current.group.displayTitleSingular}, "NEW_BUTTON_LABEL_${JHS.current.group.name}", "NEW_BUTTON_LABEL" )}"
        rendered="#{!#SPECIFIED_GROUP_IN_CREATE_MODE(${JHS.current.group.parentGroup})  ${JHS.addELExpression(${JHS.current.group.insertAllowedExpression},"and")}}"
        id="${JHS.current.group.shortName}NewButton">
    #if ($JHS.current.group.baseGroupBoundedTaskFlow==$JHS.current.group)
      ## set create Parameter tot true for task-flow call
      <af:setActionListener from="#{'true'}" to="#{requestScope.create${JHS.current.group.name}}"/>
    #end  
  </af:button>  
#end