## revision_history
## 09-jan-2012   Steven Davelaar
## 1.3           Added componentsToRefresh property
## 18-may-2010   Steven Davelaar
## 1.2           Added id property to all elements
## 30-sep-2006   JHeadstart Team
## 1.1           Revision history added, base version is 10.1.3.0.97 (SU1)
#set ($bean = ${JHS.current.managedBean})
#set ($item = ${JHS.current.item})

<managed-bean id="#NEW_ID("__")">
  <managed-bean-name id="#NEW_ID("__")">${bean.beanName}</managed-bean-name>
  <managed-bean-class id="#NEW_ID("__")">oracle.jheadstart.controller.jsf.bean.DependsOnItemBean</managed-bean-class>
  <managed-bean-scope id="#NEW_ID("__")">application</managed-bean-scope>
  <managed-property id="#NEW_ID("__")">
    <property-name id="#NEW_ID("__")">itemsToClear</property-name>
    <list-entries id="#NEW_ID("__")">
      #foreach ($item in ${item.dependentItemsToClear})
        <value id="#NEW_ID("__")">Search${item.id}</value> 
      #end
    </list-entries>
  </managed-property>
  <managed-property id="#NEW_ID("__")">
    <property-name id="#NEW_ID("__")">componentsToRefresh</property-name>
    <list-entries id="#NEW_ID("__")">
      #foreach ($item in ${item.dependentItemsToRefresh})
        <value id="#NEW_ID("__")">Search${item.id}</value> 
      #end
    </list-entries>
  </managed-property>
</managed-bean>

