## revision_history
## 18-feb-2009   Steven Davelaar
## 1.2           Changed to icon to align layout with model-base quick search
## 30-sep-2006   JHeadstart Team
## 1.1           Revision history added, base version is 10.1.3.0.97 (SU1)
<af:link action="#{#SEARCH_BEAN().quickSearch}"
                  shortDesc="#FILTER_BY_LABEL()" 
                  icon="/jheadstart/images/go_ena.png"
                  id="${JHS.current.group.shortName}QuickSearchButton"/>

