## revision_history
## 21-jan-2011   Steven Davelaar
## 1.2           Use call to JHS.page.addPopup to add delete popup at end of page
## 31-aug-2007   Sandra Muller
## 1.1           replaced text by textAndAccessKey
## 09-feb-2007   Steven Davelaar
## 1.0           Initial creation
#if ($JHS.current.group.tableDeleteAllowed)
  #if (${JHS.engine.getTemplateContext("TABLE_MENU")}=='true')
    #set ($itemId = "${JHS.current.group.shortName}delrmTM")
  #else
    #set ($itemId = "${JHS.current.group.shortName}delrm")
  #end
    <af:commandMenuItem id="${itemId}"  textAndAccessKey="#DELETE_ROW_BUTTON_LABEL()" 
       icon="/jheadstart/images/deleteRow.png" partialSubmit="true" immediate="true"
     #JHS_PROP("rendered" $JHS.current.group.deleteAllowedExpression) >
      <af:showPopupBehavior popupId="${JHS.page.addPopup("${JHS.current.group.shortName}DeletePopup","${JHS.engine.fullNamingContainerPath}","#DELETE_POPUP()")}"/>
    </af:commandMenuItem>
    #ADD_CUR_GROUP_PARTIAL_TRIGGER("${itemId}")
#end
