## revision_history
## 04-nov-2013   Steven Davelaar
## 1.2           Now using af:link, and removed nested af:image
## 26-nov-2011   Steven Davelaar
## 1.1           Added call to ADD_CUR_GROUP_ACTION, changed id
## 02-sep-2008   Steven Davelaar
## 1.0           Initial creation

#if (${JHS.current.pageComponent.hasDetailsPage} && "hyperlink"!=$JHS.current.group.formLink)
<af:link action="${JHS.facesConfigGenerator.addNavigationCase(${JHS.current.group},${JHS.page.name}, "${JHS.current.group.name}Details", ${JHS.current.pageComponent.detailsPage.name})}" 
      id="${JHS.current.group.shortName}Gtd" shortDesc="#DETAIL_VIEW_BUTTON_LABEL()"  icon="/jheadstart/images/editRow.png" />
#ADD_CUR_GROUP_ACTION("GoToDetails" "${JHS.current.group.shortName}Gtd")
#end