## revision_history
## 31-aug-2007   Sandra Muller
## 1.2           replaced text by textAndAccessKey
## 30-sep-2006   JHeadstart Team
## 1.1           Revision history added, base version is 10.1.3.0.97 (SU1)
<af:button textAndAccessKey="#SELECT_LABEL()"
  actionListener="#{#LOV_PAGE_BEAN().select}"
  id="#NEW_ID("cb")">
  <af:returnActionListener/>
</af:button>
